table {
    width: 100%;
    color:  rgb(0, 0, 0);
    margin-top: 10px;
    font-size: 20px;
    font-weight: 800;
    font-family: var(--secondaryFont);
}

.deleteButton {
    float: right;
    
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.cancelButton {
    margin-right: 5px;
    float: right;
    vertical-align: middle;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.saveButton{
    margin-right: 5px;
    float: right;
    vertical-align: middle;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.detailButton{
    margin-right: 5px;
    float: right;
    vertical-align: middle;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.col-md-3 {

    margin: center; 
    margin: auto;
    margin-top: 5px;


}