<div class="card">

    <div class="card-body" style="background-color:  hsla(348, 58%, 36%, 0.706);">

        <h4 class="text-center mt-3" style="font-size: xx-large;"> User Category List</h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Category ID</th>
                    <th>Category Name</th>
                    <th>Creation Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of pagedData">
                    <td>{{item.categoryId}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.creationDate}}</td>
                    <td>
                    <app-button [buttonText]="'Detail'"  class="detailButton" [id]="item.categoryId"
                        (onButtonClick)="handleDetailClick($event)"></app-button>
                    <app-button class="deleteButton"  [buttonText]="'Delete'" [id]="item.categoryId"
                        (onButtonClick)="handleDeleteClick($event)"></app-button>
                    </td>    
                </tr>
            </tbody>
        </table>

        <button (click)="handleAddCategory()">Add Category</button>

        <div class="card container my-5">
  
        <form  *ngIf="addCategoryForm">
            
            <label for="name">Name</label>
            <input type="text" [(ngModel)]="nameOfNewCategory" name="name">
        
        
            <label for="creationDate">Creation Date</label>
            <input type="date" [(ngModel)]="dateOfnewCategory" name="creationDate">
     
            <div>
                <button class="saveButton" (click)="handleSaveClick()">Save</button>
                <button class="cancelButton" (click)="handleCancelClick()">Cancel</button>
            </div>
        </form>

        <div class="pagination" *ngIf="totalPages > 0">
            <button [disabled]="currentPage === 1" (click)="previousPage()">Previous</button>
            <span>{{ currentPage }}</span>
            <button [disabled]="currentPage === totalPages" (click)="nextPage()">Next</button>
        </div>
    </div>
</div>