

<div
    class="color-overlay d-flex justify-content-center align-items-center"
    style="background-image: url('uploads/e.png'); height: 100vh;">
<div class="container my-5" style="background-color: rgba(228, 192, 10, 0.666);color:black;border:2px solid black; height: 500px; width:400px; ">
	<h4 class="text-center mt-3" style="font-size: xx-large;"> Add New Post</h4>
<form class="ortala">
  
    <div class="col-md-3">
       <label for="title" >Title</label>
       <input type="text"  [(ngModel)]="post.title" name= "title" required>
    </div>
    <div class="col-md-3">
       <label for="content">Content</label>
       <textarea [(ngModel)]="post.content" name="content" ></textarea>
    </div>
    <div class="col-md-3">
       <label for="viewCount">View Count</label>
       <input type="number" [(ngModel)]="post.viewCount" name= "viewCount"  >
    </div>
    <div class="col-md-3">
       <label for="creationDate">Creation Date</label>
       <input type="date" [(ngModel)]="post.creationDate" name="creationDate" >
    </div>
    <div class="col-md-3">
    <label for="isPublished">Publish State</label>
       <select [(ngModel)]="post.isPublished" name="isPublished">
          <option [value]="true"> Published </option>
          <option [value]="false">Notpublished</option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="user">User</label>
        <select [(ngModel)]="post.userId" name="user" required>
          <option *ngFor="let user of users" [value]="user.userId">{{user.username}}</option>
        </select>
    </div>

    <div class="col-md-3">
        <button (click)="handleSaveClick()" type="button">Save</button>
        <button (click)="handleCancelClick()" type="button">Cancel</button>
    </div>
</form>
    </div>
</div>