

.deleteButton {
    float: right;
    
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.detailButton{
    margin-right: 5px;
    float: right;
    vertical-align: middle;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
td , th {
    height: 50px;
    vertical-align: middle;
  }
 
