
<table class="table table-hover">
    <thead>
      <tr>
        <th>Post Id</th>
        <th>Title</th>
        <th>View Count</th>
        <th>Creation Date</th>
        <th>Publish Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of pagedData" >
        <td>{{ item.postId}}</td>
        <td>{{ item.title}}</td>
        <td>{{ item.viewCount}}</td>
        <td>{{ item.creationDate}}</td>
        <td>{{ item.isPublished}}</td>

      <td>
    
    <app-button [buttonText]="'Detail'" [id]= "item.postId" (onButtonClick)="handleDetailClick($event)"></app-button>
    <app-button [buttonText] = "'Delete'" [id]= "item.postId" (onButtonClick)="handleDeleteClick($event)" ></app-button>
        
      </td>
      </tr>
    </tbody>
  </table>