
<div class="card"  >
  
  <div class="card-body" style="background-color:  hsla(348, 58%, 36%, 0.706);">
    <h4 class="text-center mt-3" style="font-size: xx-large;"> Post List</h4>
<table class="table table-hover" >
    <thead>
      <tr>
        <th>Post Id</th>
        <th>Title</th>
        <th>View Count</th>
        <th>Creation Date</th>
        <th>Publish Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of pagedData" >
        <td>{{ item.postId}}</td>
        <td>{{ item.title | uppercase }}</td>
        <td>{{ item.viewCount}}</td>
        <td>{{ item.creationDate | date}}</td>
        <td>{{ item.isPublished}}</td>
        <td>  
            <app-button class="detailButton" [buttonText]="'Detail'" [id]= "item.postId" (onButtonClick)="handleDetailClick($event)"></app-button>
            <app-button class="deleteButton" [buttonText] = "'Delete'" [id]= "item.postId" (onButtonClick)="handleDeleteClick($event)"></app-button>
        </td>  
      </tr>
    </tbody>
  </table>
  <div class="pagination" *ngIf="totalPage > 0">
    <button [disabled]="currentPage === 1" (click)="previousPage()">Previous</button>
    <span>{{ currentPage }}</span>
    <button [disabled]="currentPage === totalPage" (click)="nextPage()">Next</button>
</div>

<button [routerLink]="'/postadd'">Add Post</button>
  </div>
</div>