@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Indie+Flower&family=Pacifico&display=swap');

:root {
  --primaryColor: #e6841c;
  --secondaryColor: #000000;
  --bgColor: #013c14;
  --writeColor: #F8ECF1;
  --primaryFont: 'Bebas Neue', cursive;
  --secondaryFont: 'Pacifico', sans-serif;
  --tertiaryFont: 'Indie Flower', cursive;
}

*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-image: url("./assets/seil-park-.jpg");
    background-repeat: no-repeat;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }